*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: larger;
}

#main{
    min-height: 100vh;
}

.beat-box{
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    border-radius: 0.3rem;
    background-color: whitesmoke;
    border: 3px solid rgb(67, 64, 64);
    transition-duration: 100ms;
}

.box-active-bass{
    border: 3px solid black;
    background-color: rgb(128, 32, 32);
}
.box-active-snare{
    border: 3px solid black;
    background-color: rgb(104, 27, 145);
}
.box-active-hihat{
    border: 3px solid black;
    background-color: rgb(36, 170, 100);
}

.at-play{
    transform: scale(1.2);
}